.wrapper {
  // border: 1px black solid;
  background-color: rgba(207, 193, 174, 1);
  padding: 14px 42px 22px 42px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 1920px) {
  .wrapper {
    padding: 10px 305px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
