.wrapper {
  background-color: #fff;
  padding: 29px 28px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin-top: 8px;
  border-radius: 3px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.wrapperImg {
  width: 25px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.leftRow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}

.rightRow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}

.mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desktop {
  display: none;
}

@media (min-width: 1920px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 35px 48px 25px 48px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
  }

  .unit {
    display: flex;
    gap: 20px;
    align-items: start;
  }

  .wrapperImg {
    width: none;
    display: block;
    align-items: baseline;
    align-self: start;
  }
}
