.wrapper {
  padding: 26px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardsColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: none;
}

.textButton {
  font-size: 13px;
  color: #000;
}

@media (min-width: 1920px) {
  .cardsColumn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .cardsRow {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }

  .textButton {
    font-size: 18px;
    color: rgba(60, 60, 61, 1);
  }
}
