.wrapper {
  height: 54px;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 0 41px 0 34px;
}

.logo {
  margin-left: 16px;
  cursor: pointer;
}

.logoText {
  margin-left: 6px;
  cursor: pointer;
}

.rightButtonsMobile {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 22px;
  gap: 22px;
}

.favorite {
  height: 18px;
  cursor: pointer;
}

.rightButtons {
  display: none;
}

@media (min-width: 1920px) {
  .wrapper {
    padding: 0 305px;
    height: 89px;
  }

  .menu {
    display: none;
  }

  .logo {
    width: 80px;
    height: 63px;
  }

  .rightButtonsMobile {
    display: none;
  }

  .rightButtons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.wrapperIcon {
  border-radius: 100%;
  width: 34px;
  height: 34px;
  background-color: rgba(190, 175, 153, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperIconMini {
  border-radius: 100%;
  width: 23px;
  height: 23px;
  background-color: rgba(190, 175, 153, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
