// Fonts
.font-s {
  font-family:
    Proxima Nova,
    sans-serif;
}

//  Font Size

.t-6 {
  font-size: 6px;
}

.t-7 {
  font-size: 7px;
}

.t-9 {
  font-size: 9px;
}

.t-9-17 {
  font-size: 9px;
}

.t-9-15 {
  font-size: 9px;
}

.t-10 {
  font-size: 10px;
}

.t-11 {
  font-size: 11px;
}

.t-12 {
  font-size: 12px;
}

.t-13 {
  font-size: 13px;
}

.t-14 {
  font-size: 14px;
}

.t-15 {
  font-size: 15px;
}

.t-16 {
  font-size: 16px;
}

.t-18 {
  font-size: 18px;
}

.t-19 {
  font-size: 19px;
}

.t-19-19 {
  font-size: 19px;
}

.t-19-35 {
  font-size: 19px;
}

.t-23 {
  font-size: 23px;
}

.t-24 {
  font-size: 24px;
}

.t-25 {
  font-size: 25px;
}

@media (min-width: 1920px) {
  .t-7 {
    font-size: 13px;
  }
  .t-9 {
    font-size: 14px;
  }
  .t-9-17 {
    font-size: 17px;
  }
  .t-9-15 {
    font-size: 15px;
  }
  .t-10 {
    font-size: 20px;
  }
  .t-11 {
    font-size: 18px;
  }
  .t-12 {
    font-size: 20px;
  }
  .t-14 {
    font-size: 18 px;
  }
  .t-18 {
    font-size: 24px;
  }
  .t-13 {
    font-size: 26px;
  }
  .t-19 {
    font-size: 45px;
  }
  .t-19-35 {
    font-size: 35px;
  }
  .t-23 {
    font-size: 32px;
  }
}

// Font Weight

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 600;
}

// Other

.underline {
  text-decoration: underline;
}
