@use '@constants' as constants;

.navigation {
  padding: 30px;
}

.navigation__description {
  font-size: 22px;
}

.navigation__button {
  margin: 0.5rem;

  &:hover {
    color: constants.$green;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
