.wrapper {
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.main {
  position: relative;
  width: 100%;
  max-height: 210px;
  overflow: hidden;
  border-radius: 2px;
}

.arrow {
  position: absolute;
  top: 50%;
  color: #fff;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transform: scaleY(2);
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.4);
}

.arrow:first-of-type {
  left: 8px;
}

.arrow:last-of-type {
  right: 8px;
}

.thumbs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  width: 100%;
}

.thumb {
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.active {
  opacity: 1;
  outline: 2px solid #000;
}

.thumbWrapper {
  position: relative;
  height: 60px;
  overflow: hidden;
}

.imageArea {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.counterBadge {
  position: absolute;
  right: 10px;
  bottom: 10px;

  padding: 6px 10px;
  border-radius: 8px;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  font-size: 12px;
  line-height: 1;

  backdrop-filter: blur(6px);
  user-select: none;
}

.favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}
