.wrapper {
  padding: 18px 35px;
  background-color: rgba(245, 244, 241, 1);
}

.wrapperImg {
  background-color: rgba(245, 244, 241, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border-radius: 4px;
  cursor: pointer;
}

.line {
  display: flex;
  align-items: center;
  gap: 12px;
  // padding-left: 14px;
}

.card {
  background-color: #fff;
  border-radius: 3px;
}

.wrapperPhone {
  background-color: rgba(219, 154, 152, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border-radius: 4px;
}

.buttons {
  padding: 14px;
}
