.wrapper {
  background-color: #fff;
  padding: 31px 19px 33px 19px;
  margin-top: 12px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 14px;
}

.labelMobile {
  display: flex;
  align-self: start;
}

.checkboxWrapper {
  position: relative;
  top: -10px;
}

.labelDesktop {
  display: none;
}

@media (min-width: 1920px) {
  .wrapper {
    margin-bottom: 95px;
    margin-top: 56px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  .labelMobile {
    display: none;
  }

  .inputs {
    flex-direction: row;
  }

  .labelDesktop {
    display: flex;
    align-items: center;
  }

  .checkboxWrapper {
    top: 0;
  }
}
