.wrapper {
  background-color: #fff;
  border-radius: 3px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 16px 25px 0;
}

@media (min-width: 1920px) {
  .top {
    padding: 37px 48px 26px;
  }
}
