.wrapper {
  background-color: #fff;
  border-radius: 3px;
  margin-top: 8px;
  padding: 16px 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 1920px) {
  .wrapper {
    padding: 44px 48px;
  }
}
