.wrapper {
  display: flex;
  flex-direction: column;
  padding: 39px;
  gap: 8px;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(73, 50, 17, 0.46);
  z-index: 0;
}

.wrapper > * {
  position: relative;
  z-index: 1;
}
