.wrapper {
  padding: 39px 39px 25px 39px;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(73, 50, 17, 0.46);
  z-index: 0;
}

.wrapper > * {
  position: relative;
  z-index: 1;
}

.filterMobile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.filterDesktop {
  display: none;
}

@media (min-width: 1920px) {
  .filterMobile {
    display: none;
  }

  .filterDesktop {
    display: block;
  }

  .wrapper::before {
    background: rgba(190, 175, 153, 0.5);
  }

  .wrapper {
    padding: 48px 305px 40px 305px;
    gap: 16px;
  }

  .row {
    display: flex;
    gap: 24px;
  }
}

.bottomLeft {
  display: flex;
  align-items: center;
  gap: 24px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
