html,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #f5f4f1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    font-weight: 400;
    background-color: #f5f4f1;
    color: #000;
  }

  a {
    color: rgba(190, 175, 153, 1);
    cursor: pointer;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.MuiMenuItem-root {
  min-height: 28px !important;
  font-size: 13px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-sizing: border-box;
}

/* добавить фокус инпута телефона */
.phone-input-field:focus {
  border-color: #424242;
  box-shadow: 0 0 0 2px rgba(254, 254, 254, 0.47);
  outline: 0;
}

// .flex {
//   display: flex;
// }

.special-label {
  display: none !important;
}
