:root {
  font-weight: 400;
  color: #000;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #f5f4f1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.MuiMenuItem-root {
  min-height: 28px !important;
  font-size: 13px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-sizing: border-box;
}
